* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}
/* task 1 */



ul {
  list-style-type: none;
 margin: 0;
 padding: 0;
}
#category {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;

}
.item > h2 {
  
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.04em;
  line-height: 1.33;

}
.category > li {
 border: 1px solid black;
 border-radius: 4px;
 width: 360px;
 height: 40px;
display: flex;
align-items: center;
margin-bottom: 8px;
padding-left: 8px;
font-weight: 400;
letter-spacing: 0.04em;
font-size: 16px;
line-height: 1.5;
}
.category > li:last-child {
  margin-bottom: 0;
}




/* task 2 */
.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}


.gallery-img {
  display: block;
  max-width: 100%;
  height: 300px;
  width: 360px;
  object-fit: cover;
}
/* task 3 */


#name-input {
  width: 360px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 1);
  padding-left: 16px;
  color : rgba(46, 47, 66, 1);
  border-radius: 4px;
  outline: none;
}
h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 1);

}
h1 > span {
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 1);
}
/* task 4 */


.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}
.login-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  color: rgba(46, 47, 66, 1);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.login-form > button {
  height: 40px;
  width: 86px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: rgba(78, 117, 255, 1);
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: inherit;
}
.login-form input {
width: 360px;
height: 40px;
border-radius: 4px;
outline: none;
border: 1px solid;
padding-left: 16px;
}
.login-form >button:hover {
  background-color: rgba(108, 140, 255, 1);
}
/* task 5 */

.widget > p {
  color: rgba(46, 47, 66, 1);
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  font-family: inherit;
  font-weight: 400;
}
.widget > button {
  background-color: rgba(78, 117, 255, 1);
  color: white;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;

}
.widget > button:hover {
  background-color: rgba(108, 140, 255, 1);
}

